<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="containt">
        <div class="left">
            <span style=" font-size: 40px; color: darkblue;">Ready to dive in?</span><br>
            <span style=" font-size: 40px; color: dodgerblue;">Start your free trial today.</span>
        </div>
        <div class="right">
            <button style=" padding: 20px; border: none; color: white;background-color: dodgerblue;">Start Free Trial</button>
            <button style=" padding: 20px; border: none; color: white;background-color: darkblue;">Learn More</button>
        </div>
    </div>
</body>
</html>
