<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <button class="features">FEATURES</button><br><br>
        <h2>Appmeet Has Awesome <br> Stunning Feature</h2><br>
        <p>There are many variations of passage of Lorem Ipsum available, but the <br> majority have suffered alteration in some form.</p><br><br>
        <div class="btn">
            <div class="block">
                <img src="/favicon.ico" alt=""><br>
                <h2>Simple & Light</h2><br>
                <span>Appmeet is a completely creative, <br> lightweight, clean & super responsive <br> app landing page</span>
            </div>
            <div class="block">
                <img src="/favicon.ico" alt=""><br>
                <h2>Super Responsive</h2><br>
                <span>Appmeet is a completely creative, <br> lightweight, clean & super responsive <br> app landing page</span>
            </div>
            <div class="block">
                <img src="/favicon.ico" alt=""><br>
                <h2>Bug Free Code</h2><br>
                <span>Appmeet is a completely creative, <br> lightweight, clean & super responsive <br> app landing page</span>
            </div>
        </div>
    </div>
</body>
</html>
