<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="haut">
            <div class="image">
                <img src="/images/logo.svg" alt="Appmeet" style="height: 200px; width: 200px">
            </div>
            <div class="navbar">
                <a href="#" style="text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;
                <a href="#" style="text-decoration: none;">About Us</a>&nbsp;&nbsp;&nbsp;
                <a href="#" style="text-decoration: none;">Blog</a>&nbsp;&nbsp;&nbsp;
                <a href="#" style="text-decoration: none;">Contact</a>
            </div>
        </div><hr>
        <div class="haut">
            <div>Designed and developed by <a href="#" style="color: cornflowerblue; text-decoration: none;">DevEdson</a></div>
            <div class="icone">
                <img src="" alt="Reseau">    
            </div>
        </div>
    </div>
</body>
</html>
