<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div>
            <img src="" alt="Satisfaction"><br>
            <span class="large">100%</span><br>
            <span>Satisfaction</span><br>
        </div>
        <div>
            <img src="" alt="Happy Users"><br>
            <span class="large">120K</span><br>
            <span>Happy Users</span><br>
        </div>
        <div>
            <img src="" alt="Downloads"><br>
            <span class="large">125K+</span><br>
            <span>Downloads</span><br>
        </div>
        <div>
            <img src="" alt="Winning Award"><br>
            <span class="large">50+</span><br>
            <span>Winning Award</span><br>
        </div>
    </div>
</body>
</html>
